<div id="timeline">
  <div id="speed" style="position: absolute;
                        right: 0;
                        top: 32px;
                        background-color: silver;
                        padding: 20px;
                        margin-right: 100px;
                        min-width: 500px;">

    <div>trailLengt: {{  trailLengthUI }} </div>
    <input [(ngModel)]="trailLengthUI"
      type="range"
      id="trailLengt"
      min="1"
      max="100"
      style="min-width: 500px;">

    <div>widthMinPixels: {{  widthMinPixelsUI }} </div>
    <input [(ngModel)]="widthMinPixelsUI"
      type="range"
      id="widthpixel"
      min="1"
      max="100"
      style="min-width: 500px;">

    <div>Speed: {{  inputSpeed }} x </div>
    <input [(ngModel)]="inputSpeed"
      type="range"
      id="speed"
      name="vol"
      min="1"
      max="100"
      style="min-width: 500px;"> <br /><br />

    <!-- <div> {{ percentStep }} % </div> -->

    <div style="font-weight: bold;">
      start time : {{ startTimeDisplay }}
    </div>
    <div style="font-weight: bold;">
      current time : {{ currentTimeDisplay }}
    </div>
    <div style="font-weight: bold;">
      end time : {{ endTimeDisplay }}
    </div>

    <input [(ngModel)]="percentStep"
      type="range"
      id="progress"
      name="vol"
      min="1"
      max="100"
      style="min-width: 500px;">

    <br />
    <button (click)="this.Play()">Play</button>
    <button (click)="this.Stop()">Stop</button>


  </div>
  <div id="tooltip"></div>
</div>
<div>
  Vehicle
</div>
