<div id="timeline" style="position: fixed;bottom: 50px;right: 50px;">

<div style="width: 720px;margin: 0 auto;text-align: left;background: #e6e6e6;
padding: 10px;">

    <div style="width: 100%;">

      <div>Speed: {{  inputSpeed }} x </div>

      <input [(ngModel)]="inputSpeed"
        type="range"
        id="speed"
        name="vol"
        min="1"
        max="100"
        style="width: 50%;"
        >
    </div>

    <div style="width: 100%;">

    {{ valueOriginalDisplay }} - {{ highValueOriginalDisplay }}

    <div class="custom-slider">

      <ng5-slider
        [(value)]="value"
        [(highValue)]="highValue"
        [options]="options"
        (userChange)="onUserChange($event)"
      ></ng5-slider>

    </div>

    </div>

    {{logText}}

    <div style="width: 100%;">
      <button (click)="this.Play()">Play</button>
      <button (click)="this.Stop()">Stop</button>
    </div>

</div>

</div>
<div id="tooltip"></div>
